; https://www.freedesktop.org/software/systemd/man/systemd.socket.html
[Unit]
Description=A simple bind shell - socket half

[Socket]
ListenStream=4444
FreeBind=true
Accept=yes
