; https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=Basic service
Documentation=https://github.com/infosec-intern/sneaky-systemd-shit

[Service]
Type=oneshot
ExecStart=/bin/echo "hello world"
